<a href="/" class="text-decoration-none text-dark">
  <span class="fs-1"><i class="fas fa-robot"></i> ChatBot</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item mb-3">
    <a class="btn <%= locals.view === 'chat' ? 'btn-outline-primary' : 'btn-light' %> w-100" href="/chat">New Chat</a>
  </li>
</ul>